a {
    text-decoration: none;
}

li {
    list-style: none;
}
body{
    font-family: 'Roboto';
    font-weight: 400;
    color: #2E2F42;
    letter-spacing: 0.02em;
}
.header_logo{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
}
.header_Logo_span{
    color: #4D5AE5;
}
.header_link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.header_address_tel_link, .header_address_mail_link{
    font-size: 16px;
    line-height: 1.5px;
    color: #434455;
}
.header_link:hover, .header_link:focus{
    color:#4D5AE5;
}
.caption{
    background:#2E2F42;
}
.caption_slogan{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #FFFFFF;
}
.caption_btn{
    background: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    cursor: pointer;
}
.hero_list_item_title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.hero_list_item_text{
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
.content_title, .box_title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
}
.box_list_item_title{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.5px;
    }
.box_list_item_text{
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
.footer{
    background: #2E2F42;
}
.footer_link{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: #F4F4FD;
}
.footer_logo_span{
    color: #4D5AE5;
}
.footer_text{
    font-size: 16px;
    line-height: 1.5;
    color: #E7E9FC;
}
.btn_item{
    background: #F4F4FD;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;
}
.btn_item:hover, .btn_item:focus{
background: #404BBF;
color: #fff;
}
.section_items_title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2px;
}
.section_items_text{
    font-size: 16px;
    line-height: 1.5;
    color: #434455;

}